# custom
extra/

# gradle
.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar
out/
classes/
!**/src/**/build/

# eclipse
*.launch
.apt_generated
.eclipse/
.factorypath
.settings
.springBeans
.sts4-cache
!**/src/**/bin/

# idea
.idea/
*.iml
*.ipr
*.iws
!**/src/**/out/

.run/

# vscode
.settings/
.vscode/
bin/
.classpath
.project

# macos
*.DS_Store

# modding
run/
!**/src/**/run/
**/src/generated/**/.cache/
repo/
!**/src/**/repo/

# java
hs_err_*.log
replay_*.log
*.hprof
*.jfr
